{% extends 'base.html' %}

{% block content %}

<div class="d-flex flex-wrap p-4">
    <div class="col-2 bg-light" style="display: flex ; flex-direction: column; padding: 2rem;">
        <p>Categories:</p>
        <div>
            {% for c in catagory %}
        <div class="form-check">
            <input class="form-check-input" type="radio" name="category" id="{{c.name}}">
            <label class="form-check-label" for="{{c.name}}">
            <a class="text-decoration-none text-dark" href="{% url 'categorywisepost' c.slug %}">{{c}}</a>
            </label>
        </div>

        {% endfor %}
        </div>
    </div>

    <div class="col-10 p-4">
        <h3>{{data | length }} data found</h3>
        <div class="d-flex flex-wrap justify-content-start px-2 pt-5 gap-2" style="margin: auto;">
            {% for post in data %}
            <div class="card col-sm-4">
                
                <div class="card-body">
                    {% if post.image %}
                <img src="{{ post.image.url }}" class="card-img-top" style="width: 300px; height: 200px; object-fit: cover;" alt="...">
                {% endif %}
                    <div class="card-body">
                        <h5 class="card-title"> <a href="{% url 'post_details' post.id %}" class="text-decoration-none ">{{ post.title }}</a></h5>
                        <p class="card-text">{{post.content |truncatewords:20}}</p>
                        <small>Author: {{post.author.first_name}} {{post.author.last_name}}</small>
                        <p> Category: {% for cat in post.category.all %}
                            <a class="btn btn-sm disabled">{{cat.name}}</a>
                            {% endfor %}
                        </p>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}