{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <img src="{{ car.image.url }}" class="img-fluid rounded-4 shadow" alt="{{ car.title }}">
    </div>
    <div class="col-md-6">
        <span class="badge bg-secondary mb-2 fs-6">{{ car.brand.name }}</span>
        <h1 class="fw-bold">{{ car.model }}</h1>
        <p class="text-muted">{{ car.description }}</p>
        <p class="fs-4 text-success fw-bold">${{ car.price }}</p>
        <p><strong>Quantity Available:</strong> {{ car.quantity }}</p>

        {% if user.is_authenticated %}
            {% if car.quantity > 0 %}
                <form method="post" action="{% url 'buy_car' car.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-lg w-100">🚗 Buy Now</button>
                </form>
            {% else %}
                <button class="btn btn-secondary btn-lg w-100" disabled>Out of Stock</button>
            {% endif %}
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-outline-primary btn-lg w-100">Login to Buy</a>
        {% endif %}
    </div>
</div>


<hr class="my-5">
<h3 class="mb-4">💬 Comments</h3>

{% for comment in comments %}
<div class="card mb-3 border-0 shadow-sm">
    <div class="card-body">
        <div style="display: flex; flex-direction: row; gap: 5rem; margin-right: 1rem; margin-left: 1rem;">
            <h6 class="fw-bold">{{ comment.user }}</h6>
            <p class="text-muted small">{{ comment.created_at|date:"M d, Y H:i" }}</p>
        </div>
        <p class="ms-3">{{ comment.content}}</p>
    </div>
</div>
{% empty %}
<p class="text-muted">No comments yet. Be the first!</p>
{% endfor %}


<div class="card border-0 shadow-sm mt-4">
    <div class="card-body">
        <h5 class="mb-3">Leave a Comment</h5>
        <form method="post">
            {% csrf_token %}
        
            <div class="mb-3">{{ comment_form.content.label_tag }} {{ comment_form.content }}</div>
            <button type="submit" class="btn btn-primary">Post Comment</button>
        </form>
    </div>
</div>

{% endblock %}
