{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-wrap justify-content-center px-5 pt-5 gap-2" style="margin: auto;">
    {% for post in data %}
    <div class="card col-sm-4">
        <div class="card-mx-2">
            <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.content}}</p>
            <small>Author: {{post.author.name}}</small>
            <p> Category: {% for cat in post.category.all %}
                <a class="btn btn-sm disabled" >{{cat.name}}</a>
                {% endfor %}
            </p>
            <a href="{% url 'edit_post' post.id %}" class="btn btn-warning">Edit</a>
            <a href="{% url 'delete_post' post.id%}" class="btn btn-danger">Delete</a>
        </div>
        </div>
    </div>
        {% endfor %}
</div>

{% endblock %}