<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <style>
        .navbar ul{
            list-style: none;
            display: flex;
            gap: 1rem;
        }
    
    </style>
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/app/">App</a>
            </li>
            <li>
                <a href="/app/about/">About</a>
            </li>
            <li>
                <a href="/app/contact-us/">Contact Us</a>
            </li>
        </ul>
    </div>

    <p>This is the Contact page</p>
</body>
</html>