.cards{
    margin: 1rem auto;
    display: grid;
    width: 75%;
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    
}

.card{
    height: 400px;
    overflow: hidden;
}

.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}